<style>
    .swiper-pagination-bullet{
        width:0.24rem !important;
        height:0.04rem  !important;
        background:rgba(255,255,255,1)  !important;
        opacity:1  !important;
        border-radius:0.02rem  !important;
    }
    .swiper-pagination-bullet-active{
        width:0.24rem  !important;
        height:0.04rem  !important;
        background:rgba(255,255,255,1)  !important;
        opacity:0.4  !important;
        border-radius:0.02rem  !important;
    }
</style>
<div class="Mask"></div>
<div id="login-form" class="login-form  ">
    <!--<a class="tiao">跳过</a>-->
    <img class="login-logo" src="__CDN__/assets/img/mobile/tishi_pic_ysj@2x.png" alt="LOGO" />
    <div><img class="return-but" src="__CDN__/assets/img/mobile/tishi_bth_zdl@2x.png" alt="LOGO" /></div>
</div>
<!-- header-search -->
<div class="search_box_wrap">
    <a href="{:url('index/search')}">
        <input type="text" placeholder="输入关键词搜索" readonly>
    </a>
</div>
<!-- swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        {foreach $banner as $val}
            <div class="swiper-slide"><a style="width: 100%;height: 100%;" href="{$val.url}" target="_blank"><img src="{$val.image}" alt=""></a></div>
        {/foreach}
    </div>
    <div class="swiper-pagination"></div>
</div>
<!-- 精品推荐 -->
<div class="recommend">
    <div class="title_con">
        <img src="__CDN__/assets/img/mobile/shouye_biaoti_iocn_1@2x.png" alt="">
        精品推荐
        <img src="__CDN__/assets/img/mobile/shouye_biaoti_iocn_2@2x.png" alt="">
    </div>
    <div class="recommend_list">
        {foreach $recommend as $val}
        <div class="recommend_con">
            <a href="{$url}{$val.hall_id}&sence={$val.sence}" target="_blank">
                <img src="{$val['image']}" alt="" class="bigImg">
                <div class="shadow over">
                    {$val['name']}
                </div>
                <div class="boutique"></div>
                <img src="__CDN__/assets/img/mobile/home_icon_vr@2x.png" width="0.68rem" height="0.68rem" alt="" class="smallImg">
            </a>
        </div>
        {/foreach}
    </div>
</div>
<!-- 所有展厅 -->
<div class="allExhibition">
    <div class="title_con">
        <img src="__CDN__/assets/img/mobile/shouye_biaoti_iocn_1@2x.png" alt="">
        所有展厅
        <img src="__CDN__/assets/img/mobile/shouye_biaoti_iocn_2@2x.png" alt="">
    </div>
    <div class="allExhibition_list">
        {foreach $hall as $val}
        <div class="allExhibition_con">
            <a href="{$url}{$val.hall_id}&sence={$val.sence}" target="_blank">
                <img src="{$val['image']}" alt="" class="bigAllimg">
                <div class="shadow_con">
                    {$val['name']}
                </div>
            </a>
            <a href="{$url}{$val.hall_id}&sence={$val.sence}" target="_blank">
                <img src="__CDN__/assets/img/mobile/home_icon_vr@2x.png" alt="" class="smallAllimg">
            </a>
            <img src="__CDN__/assets/img/mobile/fenxiang_bth@2x.png" class="share" data-url="{$url}{$val.hall_id}&sence={$val.sence}" data-img="{$val.image}" data-title="{$val['name']}">
            </a>
        </div>
        {/foreach}
    </div>
</div>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal', // 垂直切换选项
        loop: true, // 循环模式选项
        autoplay:true,
        // 如果需要分页器
        pagination: {
        el: '.swiper-pagination',
        },
        slidesPerView: 1,
        spaceBetween: 0,
        slidesOffsetBefore: 0,
        paginationClickable: true,
        paginationBulletRender: function (swiper, index, className) {
		    return '<span class="' + className + '"><span class="spanSame span' + (index + 1) + '">' + (index + 1) + '</span></span>';
        }
    })
</script>
<script type="text/javascript"src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>