<div class="container">
    <div class="header">
        <div class="go_back">
            <a href="{:url('index/index')}">
                <img src="__CDN__/assets/img/navnar_icon_back2@2x.png" alt="">
            </a>
            <a href="{:url('user/setting')}">
                <img src="__CDN__/assets/img/navnar_icon_setup@2x.png" alt="">
            </a>
        </div>
        <div class="user_info">
            {if empty($user->getData('avatar'))}
                <img src="__CDN__/assets/img/user.jpg" alt="">
            {else/}
                <img src="{:cdnurl($user->getData('avatar'))}" alt="">
            {/if}
            <p>{:$user.nickname}</p>
        </div>
    </div>
    <div class="browse">
        <div class="title_con">
            浏览过的作品
        </div>
        <div class="browse_list">
            {foreach $works_browse as $val}
            <div class="browse_con">
                <a href="{:url('user/works_info',array('works_id'=>$val.works_id))}">
                <img src="{$val.image}" alt="">
                <div class="shadow">
                    {$val.name}
                </div>
                </a>
            </div>
            {/foreach}
        </div>
    </div>
</div>