<section class="content">
    <div class="row">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">基础信息</h3>
            </div>
            <div class="box-body">
                <div class="col-lg-9" style="float: left;width: 30%">记录ID：{$row.id}</div>
                <div class="col-lg-9" style="float: left;width: 30%">询价时间：{$row.add_time|date='Y-m-d H:i:s', ###}</div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">用户信息</h3>
            </div>
            <div class="box-body">
                <div class="col-lg-9" style="float: left;width: 40%">用户ID：{$row.user_id}</div>
                <div class="col-lg-9" style="float: left;width: 40%">用户昵称：{$row.nickname}</div>
            </div>
            <div class="box-body">
                <div class="col-lg-9" style="float: left;width: 40%">用户姓名：{$row.username}</div>
                <div class="col-lg-9" style="float: left;width: 40%">手机号：{$row.mobile}</div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">作品信息</h3>
            </div>
            <div class="box-body">
                <div class="col-lg-9" style="float: left;width: 30%">所属展厅：{$row.hall_name}</div>
                <div class="col-lg-9" style="float: left;width: 30%">作品ID：{$row.works_id}</div>
                <div class="col-lg-9" style="float: left;width: 30%">作品名称：{$row.works_name}</div>
            </div>
            <div class="box-body">
                <div class="col-lg-9" style="float: left;width: 30%">作品作者：{$row.author}</div>
                <div class="col-lg-9" style="float: left;width: 30%">种类：{$row.species}</div>
                <div class="col-lg-9" style="float: left;width: 30%">材质：{$row.material}</div>
            </div>
            <div class="box-body">
                <div class="col-lg-9" style="float: left;width: 30%">类型：{$row.type== 'one'? "画布": "画纸"}</div>
                <div class="col-lg-9" style="float: left;width: 40%">实际尺寸：{$row.width}cm X {$row.height}cm</div>
            </div>
            <div class="box-body">
                <div class="col-lg-9" style="float: left;width: 40%">作品图：<img data-tips-image src="{:cdnurl($row.image)}" width="100"></div>
            </div>
        </div>
    </div>
</section>
